{% extends 'base.html' %}

{% block content %}

<!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.inblog.in/user/uploads/6dea5773c2bfbc892ea473c7fe3db347.png" alt="..." />

                </div>
                <div class="col-lg-5">
                    <h1 style="color:white; font-weight:bold;">Facial Emotion Recognition</h1>
                    
                    <p style="font-size:17px; color:white;">Facial emotion recognition based on deep neural network and artificial intelligence prediction is an intelligent analysis that measures the facial expressions and emotions of one or more faces in real-time</p>
                </div>      
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Marketing research has proven that predicting sentiments correctly can be a huge source of growth for businesses and that’s what we will be working on today — Reading Emotions. 
                </p>
                <p></p>
                <p class="text-white m-0">In the world of data and machine learning, this concept falls under the umbrella of cognitive systems. Let us try to decode the science behind Emotion Recognition Algorithms, and build one for ourselves.
                </p>
            </div>
            </div>


            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Dataset</h2>
                            <p class="card-text">Using several datasets and working on data processing, balancing the data, and data augmentation to get the best training models. </p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                    
            <!--card two -->
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Model</h2>
                            <p class="card-text">By experimenting with more than one CNN architecture like ResNet50V2, DenseNet121, MobileNetV2, and Xception, we came to the best architecture model is ResNet50V2</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                

                <!--card three -->
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Accuracy</h2>
                            <p class="card-text">ResNet50V2 is the best architecture model with came to accuracy of 97.9 on the training and 90 on the validation</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
       







<!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Facial Emotion Recognition 2021</p></div>
        </footer>

<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>


      

{% endblock %}
   
